

<head>
<title>Athlete</title>

</head>
<body>
	
    
  <h1>CS340-Project </h1>
  <h2>We will be making a database representing the endorsements signed by various athletes.</h2>
  <p>Athlete, Brand, Sport, Country, and Contract data will show/change in flowing page</p>

    

    
    
</body>
